{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}
{% block body %}
    <div class="container">
        You have 15 minutes to use this link and change your password : <a href="{{ absolute_url(path('retrieve_credentials', {'id':user.id, 'token':user.forgotPasswordToken})) }}">Update password</a>
    </div>
{% endblock %}


