{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <div class="wrapper">
        <div id="formContent">
            <div class="container mt-1">
                <span>Change your password </span><br>
                <small>Step 1</small>
            </div>
            <div class="container">
                {{ form_start(forgotPasswordFormStep1) }}
                <div class="col mt-1">
                    <div class="col">
                        {{ form_row(forgotPasswordFormStep1.email.first) }}
                    </div>
                    <div class="col">
                        {{ form_row(forgotPasswordFormStep1.email.second) }}
                    </div>
                </div>
                <div class="mt-3">
                    <button type="submit" id="_change-password-link" title="Type your email 2 times">Send me renewal link</button>
                </div>
                {{ form_end(forgotPasswordFormStep1) }}
            </div>
        </div>
    </div>
{% endblock %}


