{%- set navbar = '/navbars/navbar.html.twig' -%}
{% extends navbar %}
{% block body %}
    {% include'_partials/_flashbag.html.twig' %}
    <div class="menu-app">
        <div class="col-3">
            <div class="container">
                <div class="card text-center">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Dev.community App</h5>
                        <a href="{{ path('symfony_dev_app') }}" class="btn btn-primary mt-4 btn-sm">Start</a>
                    </div>
                    <div class="card-footer text-muted">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="container">
                <div class="card text-center">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Shop.modelkit App</h5>
                        <a href="{{ path('symfony_model_app') }}" class="btn btn-primary mt-4 btn-sm">Start</a>
                    </div>
                    <div class="card-footer text-muted">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="container">
                <div class="card text-center">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Front-end App</h5>
                        <a href="{{ path('front_end_app') }}" class="btn btn-primary mt-4 btn-sm">Start</a>
                    </div>
                    <div class="card-footer text-muted">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
