{%- set navbar = '/navbars/navbar.html.twig' -%}
{% extends navbar %}
{% block body %}
    <div class="main-container">
        <div class="row">
            <div class="container symfony-app text-center mt-5">
                <p>Development network</p>
                {% include 'navbars/symfony-dev-app-navbar.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
