<div class="row">
    <div class="col-9">
        {{ form_row(form.name, {'attr':{'required':'required','class':'form-control','style':'font-size:13px'}}) }}
    </div>
    <div class="col">
        <button class="btn btn-outline-danger btn-sm btn-remove-image" type="button">Remove</button>
    </div>
</div>



