<div class="row mt-1">
    <div class="col-12">
        <em>{{ form_label(form.vote) }}{{ form_widget(form.vote, {'attr':{'style':'color:grey', 'class':'mb-2'}}) }}</em>
        {{ form_widget(form.comment, {'attr':{'class':'mt-2','rows' : 6, 'style':'font-size:13px' }}) }}
        <button class="btn btn-outline-danger btn-sm btn-remove-opinion mt-3 float-end" type="button">Remove</button>
    </div>
</div>



