@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import '~vuetify/dist/vuetify.min.css';
@import '~tom-select/dist/css/tom-select.bootstrap5.css';
@import '~select2/dist/css/select2.css';
@import '~vue-select/src/scss/vue-select.scss';
@import '~@mdi/font/css/materialdesignicons.css';
@import 'form.scss';

html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
#new-model{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#add-images{
    margin-left: 20px;
}
.main-container{
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 2em;
    padding-right: 2em;
}
.menu-app{
    display: flex;
    justify-content: center;
    margin-top:5em;
}

.dev-view{
    display: flex;
    justify-content: space-around;
    margin-top: 4em;
}
.dev-by-section{
    margin-left: 4em;
    margin-right: 4em;
    background: rgba(216, 220, 229, 0.22);
    padding-bottom: 3em;
}
.symfony-app{
    background: #06988B;
    box-shadow: 0 0 3px 3px rgba(91, 85, 85, 0.62);
}

#display-view{
    background: white;
}
