@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import '~vuetify/dist/vuetify.min.css';
@import '~tom-select/dist/css/tom-select.bootstrap5.css';
@import '~select2/dist/css/select2.css';
@import '~vue-select/src/scss/vue-select.scss';
@import '~@mdi/font/css/materialdesignicons.css';

html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
#new-model{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#add-images{
    margin-left: 20px;
}
.main-container{
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 2em;
    padding-right: 2em;
}
.menu-app{
    display: flex;
    justify-content: center;
    margin-top:5em;
}
#inputEmail{
    background-color: #efefef;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
}
#inputPassword{
    background-color: #EFEFEFFF;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
}
#_login-button{
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
}
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}
#inputEmail:focus {
    background-color: #fff;
    outline: none;
    border-bottom: 2px solid #5fbae9;
}
#inputPassword:focus {
    background-color: #fff;
    outline: none;
    border-bottom: 2px solid #5fbae9;
}
#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0,0,0,0.3);
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.3);
    text-align: center;
}
.dev-view{
    display: flex;
    justify-content: space-around;
    margin-top: 4em;
}
.dev-by-section{
    margin-left: 4em;
    margin-right: 4em;
    background: rgba(216, 220, 229, 0.22);
    padding-bottom: 3em;
}
.symfony-app{
    background: #06988B;
    box-shadow: 0 0 3px 3px rgba(91, 85, 85, 0.62);
}

#display-view{
    background: white;
}
