.paginationTable {
  position: relative;
}
.paginationTable .tableList th:nth-child(3){
  text-align: center;
}
.paginationTable .tableList th:last-child{
text-align: center;
}
.paginationTable .tableList thead td a:hover{
  color: rgba(42, 124, 60, 0.67);
}
.paginationTable .tableList thead td a{
  color: #757373;
}
.pageButton {
  border: 1px solid #fafafa;
  padding: 5px;
}
.paginationTable .tableList th {
  background: rgb(255, 255, 255);
}
.paginationTable .tableList thead tr th {
  color: rgb(89, 88, 88);
}
.paginationTable .tableList tr {
  &:nth-of-type(odd) {
    background: rgb(245, 245, 245);
  }
}
.clickPageNumber {
  background-color: rgba(38, 166, 62, 0.82);
  padding: 5px;
  margin-left: 2px;
  margin-right: 2px;
  color: white;
}

.pagination-block {
  margin-top: 2em;
  text-align: center;
  width: 100%;
}

.pagination-block span {
  display: inline-block;
}

.pagination-block .pageButton {
  background-color: rgba(54, 180, 84, 0.67);
  color: white;
}

.pagination-block span:hover {
  cursor: pointer;
}

.pagenumbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
