.nav {
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;

  a {
    font-weight: bold;
    font-family: verdana, sans-serif;
    padding: 1em;
    color: rgb(123, 123, 128);
    text-decoration: none;
    font-size: 13px;
    vertical-align: center;
  }

  a:active {
    background-color: rgba(222, 218, 233, 0.93);
  }

  a:hover {
    color: rgba(199, 126, 73, 0.78);
  }
}

.navLink {
  padding-right: 3em;
  vertical-align: center;
}

@media (max-width: 768px) {
  .nav a {
    font-size: 12px;
    padding: 2px;
    letter-spacing: 0.3px;
  }
  .navLink {
    padding: 0;
  }
}
