<div class="row">
    <div class="col-12">
        <em>{{ form_row(form.title, {'attr':{'style':'color:grey'}}) }} {{ dump(form.vars.value) }}</em>
        {{ form_row(form.content, {'attr':{'class':'mt-2','rows' : 6, 'style':'font-size:13px' }}) }}
        <button class="btn btn-outline-danger btn-sm btn-remove-note mt-3 float-end" type="button">Remove</button>
    </div>
</div>




