<div class="row">
    <div class="col-12">
        <em>{{ form_widget(form.title, {'label':false,'attr':{'style':'color:grey', 'class':'mb-2'}}) }}</em>
        {{ form_widget(form.content, {'label':false,'attr':{'class':'mt-2','style':'font-size:13px'}}) }}
        <button class="btn btn-outline-danger btn-sm btn-remove-post mt-3 float-end" type="button">Remove</button>
    </div>
</div>



