{%- set navbar = '/navbars/navbar.html.twig' -%}
{% extends navbar %}
{% block body %}
    <div class="container">
        <div class="d-flex float-end">
            <div class="container mt-1">
                <span><small>Symfony & VueJS Application</small></span><br>
                <span><small><em>- Use Vuetify DataTable with Symfony API</em></small></span><br>
            </div>
        </div>
        <div class="d-flex text-left">
            <div class="container">
                <a href="{{ path('front_end_app') }}" class="btn btn-outline-primary btn-sm mb-2 mt-3"><< Back</a>
            </div>
        </div>
        <div class="symfony-app text-center text-white mt-2">
            <h5>VUE App</h5>
            <div id="app">
                <home></home>
            </div>
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('vuejs') }}
{% endblock %}
