<!DOCTYPE html>
<html lang="fr">
<head>
    <title>New post</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-fluid bg-3 text-left" style="text-align:center;">
    <p>User: {{ userID }}</p>
    <p>New post added : {{ post }}</p>
    <p>About this documentztion : {{ dev }}</p>
    <hr>
</div>

</body>
</html>
