{% extends 'base.html.twig' %}
{%- block app_navbar -%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% for category in categories %}
                <li class="nav-item">
                    <div {{ stimulus_controller('model', { formUrl: path('rest_api_models_by_category',{ id : category.id }) }) }}>
                        <a class="nav-link" href="#" data-action="model#displayData">{{category.name}}</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
